# /etc/systemd/system/haro.service
[Unit]
Description=haro
After=network.target

[Service]
PIDFile=/run/haro.pid
User={{ BOT_USER }}
Group={{ BOT_GROUP }}
WorkingDirectory={{ REPOSITORY_PATH }}
EnvironmentFile={{ ENVIRONMENT_FILE_PATH }}
ExecStart={{ VIRTUALENV_PATH }}/bin/python src/run.py
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
