################################
# cp env.sample .env
# $EDITOR .env
################################

# app
SLACK_API_TOKEN=xoxb-xxxxxxxxxxx-yyyyyyyyyyy
SLACK_ERRORS_TO=#my-channel or username
REDMINE_URL=http://localhost/redmine_url
# REDMINE_URL=https://project.beproud.jp/redmine
HARO_DEBUG=True or False
SQLALCHEMY_URL=sqlite:///haro.sqlite
# SQLALCHEMY_URL=mysql+pymysql://root:example@db/haro?charset=utf8
SQLALCHEMY_ECHO=true or false

# ansible
# use_mysql=true
