################################
# cp env.sample .env
# $EDITOR .env
################################

# app
SLACK_API_TOKEN=xoxb-xxxxxxxxxxx-yyyyyyyyyyy
SLACK_ERRORS_TO=#my-channel or username
REDMINE_URL=http://localhost/redmine_url
# REDMINE_URL=https://project.beproud.jp/redmine
HARO_DEBUG=True or False
SQLALCHEMY_URL=sqlite:///haro.sqlite
# SQLALCHEMY_URL=mysql+pymysql://haro@localhost/haro?charset=utf8mb4
# SQLALCHEMY_URL=mysql+pymysql://root@db/haro?charset=utf8mb4
SQLALCHEMY_ECHO=true or false
#SQLALCHEMY_POOL_SIZE=20

# ansible
# ENVIRONMENT_FILE_PATH=/home/haro/beproudbot/.env
# use_local_mysql_server=true
# git_force_checkout=false
# git_sync_local=false
# git_version=master
