## Settings for slackbot

# SlackのAPIトークン
# https://my.slack.com/services/new/bot で生成
API_TOKEN = ''

# 該当するコマンドが存在しない時に表示する文言
default_reply = 'コマンドが不明です。'

# 読み込むpluginのリスト
PLUGINS = [
	'beproudbot.plugins',

]

# コマンドの接頭語
ALIASES = '$'

# デバッグモードにするとログが出るので、開発時には便利
# DEBUG = True
#
# import logging
# logging.basicConfig(level=logging.DEBUG)
#
# Slack ファイルアップロードAPI
FILE_UPLOAD_URL = 'https://slack.com/api/files.upload'
