alembic==0.9.6
cachetools==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
Mako==1.0.7
MarkupSafe==1.0
prettytable==0.7.2
PyMySQL==0.7.11
python-dateutil==2.6.1
python-editor==1.0.3
requests==2.18.4
six==1.11.0
slackbot==0.5.1
slacker==0.9.60
SQLAlchemy==1.1.14
urllib3==1.22
websocket-client==0.44.0
python-redmine==2.0.2
beautifulsoup4==4.6.0
